
.schedule-container{
    padding: 4rem 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    position: relative;
    z-index: 1;
}
.schedule-container::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 25rem;
    background: url('../../images/corevalue.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.weekly-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    width: 115rem;
    max-width: 100%;
    gap: 2rem;
    margin: 0 auto;

}
.weekly-heading h3{
    color: #b84c65;
    font-size: 3rem;
    text-transform: uppercase;
    width: 115rem;
    max-width: 100%;
    margin: 0 auto 2rem auto;
    letter-spacing: 1px;
}

.service-info{
    padding: 1.5rem;
    text-transform: uppercase;
}
.date h2{
    font-size: 2.3rem;
    font-weight: 600;
}
/* Shepherding Ministy SECTION */

.first-schedule{
    background-image: url('../../images/bible.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.first-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}
/* BIBLE STUDY  SECTION */

.second-schedule{
    background-image: url('../../images/bible.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.second-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}
.weekly-service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.service-text{
    font-size: 2rem;
    width: 8rem;
    line-height: 1.1;
    font-weight: 600;

}

.schedule-time{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

/* PRAYER MEETING SECTION */
.third-schedule{
    background-image: url('../../images/prayer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.third-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}


/* PRAISE AND WORSHIP MEETING SECTION */
.fourth-schedule{
    background-image: url('../../images/praise.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.fourth-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}
.praise-text{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
}
/* FRIDAY MINISTRY SECTION */
.fifth-schedule{
    background-image: url('../../images/ministry.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.fifth-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}
.fourth-service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.date h2{
    padding: 1.5rem;
}

.young-pro{
    padding: 1.5rem;
}
.shepherding-ministry{
    border-bottom: 2px solid #fff;
    padding: 1.5rem;
}
.shepherding-text,
.young-text{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}


/* SUNDARY SERVICE SECTION */
.sixth-schedule{
    background-image: url('../../images/schedule.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    max-width: 100%;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.sixth-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
    background-color: black;
    border-radius: 15px;
}

@media screen and (max-width: 1870px) {
    .weekly-content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 100rem;
        max-width: 100%;
        gap: 2rem;
        margin: 0 auto;
    }
    .weekly-heading h3{
        width: 100rem;
    }
}

@media screen and (max-width: 1770px){
    .weekly-content{
        width: 100rem;
    }
    .weekly-heading h3{
        width: 100rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 18rem;
        height: 30rem;
    }
}
@media screen and (max-width: 1600px){
    .weekly-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 65rem;
    }
    .weekly-heading h3{
        width: 65rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 20rem;
        height: 30rem;
    }
    .fourth-schedule{
        grid-column: 1/2;
        grid-row: 2;
    }
    .fifth-schedule{
        grid-column: 2/3;
        grid-row: 2;
    }
    .sixth-schedule{
        grid-column: 3/4;
        grid-row: 2;  
    }
}

@media screen and (max-width: 1200px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1170px) {
    .weekly-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 60rem;
    }
    .weekly-heading h3{
        width: 60rem;
    }

    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 18rem;
        height: 30rem;
    }

}
@media screen and (max-width: 1020px) {

    .weekly-heading h3{
        width: 55rem;
    }
    .weekly-content{
        width: 55rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 16rem;
        height: 30rem;
    }
    .sunday-text,
    .prayer-text{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.2rem;
    }
    .schedule-time{
        font-size: 1rem;
    }
}
@media screen and (max-width: 930px) {

    .weekly-heading h3{
        width: 45rem;
    }
    .weekly-content{
        width: 45rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 20rem;
        height: 30rem;
    }
    .first-schedule{
        grid-column: 1/2;
        grid-row: 1;
    }
    .second-schedule{
        grid-column: 2/3;
        grid-row: 1;
    }
    .third-schedule{
        grid-column: 1/2;
        grid-row: 2;
    }
    .fourth-schedule{
        grid-column: 2/3;
        grid-row: 2;
    }
    .fifth-schedule{
        grid-column: 1/2;
        grid-row: 3;
    }
    .sixth-schedule{
        grid-column: 2/3;
        grid-row: 3;
    }
    .sunday-text,
    .prayer-text{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 760px) {

    .weekly-heading h3{
        width: 35rem;
    }
    .weekly-content{
        width: 35rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 16rem;
        height: 30rem;
    }

}
@media screen and (max-width: 570px) {

    .weekly-heading h3{
        width: 20rem;
        text-align: center;
    }

    .weekly-content{
        width: 20rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 20rem;
        height: 30rem;
    }

    .first-schedule{
        grid-column: 1/2;
        grid-row: 1;
    }
    .second-schedule{
        grid-column: 1/2;
        grid-row: 2;
    }
    .third-schedule{
        grid-column: 1/2;
        grid-row: 3;
    }
    .fourth-schedule{
        grid-column: 1/2;
        grid-row: 4;
    }
    .fifth-schedule{
        grid-column: 1/2;
        grid-row: 5;
    }
    .sixth-schedule{
        grid-column: 1/2;
        grid-row: 6;
    }
}
@media screen and (max-width: 410px) {

    .weekly-content{
        width: 18rem;
    }
    .weekly-heading h3{
        width: 18rem;

    }
    .first-schedule,
    .second-schedule,
    .third-schedule,
    .fourth-schedule,
    .fifth-schedule,
    .sixth-schedule{
        width: 18rem;
    }
    .sunday-text,
    .prayer-text{
        font-size: 2.1rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.2rem;
    }
}