
.schedule-container{
    padding: 4rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    position: relative;
    z-index: 1;
}
.schedule-container::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 25rem;
    background: url('../../images/corevalue.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.weekly-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 65rem;
    max-width: 100%;
    gap: 2rem;
    margin: 0 auto;

}
.weekly-heading h3{
    color: #b84c65;
    font-size: 3rem;
    text-transform: uppercase;
    width: 65rem;
    margin: 0 auto 2rem auto;
    letter-spacing: 1px;
}
.schedule-time{
    font-weight: 600;
    font-size: 1.2rem;
}

/* MONDAY TO FRIDAY SCHEDULE SECTION */
.first-schedule{
    background-image: url('../../images/schedule.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20rem;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.first-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
    background-color: black;
    border-radius: 15px;
}
.couples,
.praise-worship{
    border-bottom: 2px solid #fff;
    padding: 1.5rem;
}
.young-pro{
    padding: 1.5rem;
}
.schedule-text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* SUNDAY SERVICES SECTION */
.second-schedule{
    background-image: url('../../images/schedule-two.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20rem;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.second-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
    background-color: black;
    border-radius: 15px;
}
.sunday-service{
    padding: 2rem;
}
.sunday-text{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* PRAYER MEETING SECTION */
.third-schedule{
    background-image: url('../../images/schedule-three.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20rem;
    height: 30rem;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: end;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.third-schedule::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
    background-color: black;
    border-radius: 15px;
}

.prayer-meeting{
    padding: 2rem;
}
.prayer-text{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1170px) {
    .schedule-container{
        padding: 2.5rem;
    }
    .weekly-heading h3{
        width: 60rem;
    }
    .weekly-content{
        width: 60rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule{
        width: 18rem;
        height: 30rem;
    }
    .prayer-text{
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 1020px) {

    .weekly-heading h3{
        width: 55rem;
    }
    .weekly-content{
        width: 55rem;
    }
    .first-schedule,
    .second-schedule,
    .third-schedule{
        width: 16rem;
        height: 30rem;
    }
    .sunday-text,
    .prayer-text{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.2rem;
    }
    .schedule-time{
        font-size: 1rem;
    }
}
@media screen and (max-width: 930px) {

    .weekly-heading h3{
        width: 43rem;
    }
    .weekly-content{
        width: 43rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .first-schedule,
    .second-schedule,
    .third-schedule{
        width: 20rem;
        height: 30rem;
    }
    .third-schedule{
       grid-column: 1/3;
    }
    .sunday-text,
    .prayer-text{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 760px) {

    .weekly-heading h3{
        width: 30rem;
    }
    .weekly-content{
        width: 30rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .third-schedule{
       grid-column: 1/2;
    }

}
@media screen and (max-width: 570px) {

    .weekly-heading h3{
        width: 20rem;
        text-align: center;

    }
    .weekly-content{
        width: 20rem;
    }
}
@media screen and (max-width: 410px) {
    .schedule-container{
        padding: 1.8rem;
    }
    .weekly-content{
        width: 18rem;
    }
    .weekly-heading h3{
        width: 18rem;

    }
    .first-schedule,
    .second-schedule,
    .third-schedule{
        width: 18rem;
    }
    .sunday-text,
    .prayer-text{
        font-size: 2.1rem;
        margin-bottom: 1rem;
    }
    .schedule-text{
        font-size: 1.2rem;
    }
}