.hero-section{
    background-image: url('../../images/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
  }
  
.about-section{
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  
}
.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 65rem;
  margin: 2rem auto;
}
.about-details .about-title{
  font-weight: 400;
  color: #22263E;
  font-size: 2rem;
  margin-top: 1rem;
  background:  #eaac4e;
  width: 18rem;
  height: 1rem;
  display: flex;
  align-items: end;
}

.about-sub-title{
  font-weight: 300;
  font-style: italic;
  margin: .6rem 0;
  color: #22263E;
}
.about-text{
  font-size: 14px;
  width: 30rem;
  line-height: 1.8;
  margin: 1rem 0;
  color: rgba(0, 0, 0, .6);
}
.about-img{
  width: 25rem;
  height: 20rem;
  object-fit: cover;
}
.about-btn{
  width: 10rem;
  height: 2.5rem;
  background-color: #22263E;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
  font-weight: 600;
}
.about-btn:hover{
  background-color: transparent;
  border: 1px solid #22263E;
  color: #22263E;
}

  .about-hero-title{
    color: #fff;
    text-shadow: 
        3px 0px 7px rgba(181, 136, 16, 0.2), 
        -3px 0px 7px rgba(181, 136, 16, 0.2), 
        0px 4px 7px rgba(181, 136, 16, 0.2);
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 2px;
    margin-left: 5rem;
  }
  /* ABOUT PAGE SECTION */
  .gallery-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 3rem 0;
  }
  .img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .img-gallery{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .about-ccw{
    width: 60rem;
    height: 100%;
  }



  /* CCW PRINCIPLES */

  .principles-section{
    display: flex;
    justify-content: center;

    background: linear-gradient(to right, #ddd7d0,#998A86);
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
  }

  .principles-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12rem 1fr;
    gap: 1rem;
    text-align: center;
    width: 75rem;
    height: 100%;
    max-width: 100%;
    padding: 2rem;
    border-radius: 15px;
    justify-items: center;
  }
  .commited,
  .accountability,
  .relationships{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .principles-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1;
    height: 10rem;
  }
  .commited{
    grid-column: 1/2;
    grid-row: 2;
  }
  .accountability{
    grid-column: 2/3;
    grid-row: 2;
  }
  .relationships{
    grid-column: 3/4;
    grid-row: 2;
  }
  .relationships-text{
    background-color: #a6a6a6;
    color: #fff;
    padding: 1rem 1rem;
    width: 18rem;
    margin: .4rem auto;
    font-size: 1.4rem;
  }
  .accountability-text{
    background-color: #22263d;
    color: #fff;
    padding: 1rem 1rem;
    width: 18rem;
    margin: .4rem auto;
    font-size: 1.4rem;
  }
  .about-img-logo{
    width: 10rem;
    height: 10rem;
  }
  .commited-text{
    background-color: #b68911;
    color: #fff;
    padding: 1rem 1rem;
    width: 18rem;
    margin: .4rem auto;
    font-size: 1.4rem;
  }
  .ccw-title-about{
    width: 18rem;
    margin: 0 auto;
    font-weight: 500;
    font-size: 2rem;
  }


  /*RESPONSIVE LAYOUT  */



  /* ABOUT PAGE LAYOUT SECTION */

  @media screen and (max-width: 1350px){
    .img-container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .about-hero-title{
      font-size: 5.5rem;
    }
  }

  @media screen and (max-width: 1479px) {
    .about-hero-title{
      margin-left: 1rem;
    }
  }
  @media screen and (max-width: 1420px) {
    .about-hero-title{
      font-size: 5.5rem;
    }
  }
  @media screen and (max-width: 1240px) {
    .about-hero-title{
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 1200px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

  @media screen and (max-width: 1000px){
    .img-container{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  @media screen and (max-width: 670px){
    .img-container{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
    }
  }

  @media screen and (max-width: 560px) {
    .hero-section{
      height: 20rem;
    }
    .about-hero-title{
      font-size: 2.5rem;
    }
  }

  /* --------------------- */


  /* ABOUT HOME PAGE SECTION */


  @media screen  and (max-width: 1000px){

    .about-container{
      padding: 3rem;
      flex-direction: column;
    }
    .about-container{
      width: 46rem;
    }
    .about-text{
      width: 40rem;
    }
    .about-img{
      margin-top: 3rem;
      width: 40rem;
      height: 35rem;
      object-fit: contain;
    }
  }
  @media screen  and (max-width: 870px){
    .about-container{
      width: 35rem;
      padding: 0;
    }
    .about-text{
      width: 35rem;
    }
    .about-img{
      margin-top: 0;
      width: 35rem;
    }
  }
  @media screen  and (max-width: 670px){
    .about-container{
      width: 30rem;
    }
    .about-text{
      width: 30rem;
    }
    .about-img{
      width: 30rem;
    }
  }
  @media screen  and (max-width: 590px){
    .about-section{
      padding: 2rem;
    }
    .about-container{
      width: 25rem;
    }
    .about-text{
      width: 25rem;
    }
    .about-img{
      width: 25rem;
      height: 25rem;
    }
  }
  @media screen  and (max-width: 470px){
    .about-section{
      padding: 1rem;
    }
    .about-container{
      width: 22rem;
    }
    .about-text{
      width: 20rem;
      font-size: 13px;
    }
    .about-img{
      width: 22rem;
      height: 22rem;
    }
  }
  @media screen  and (max-width: 470px){
    .about-section{
      padding: 1rem;
    }
    .about-container{
      width: 20rem;
    }
    .about-text{
      width: 20rem;
      font-size: 13px;
    }
    .about-img{
      width: 20rem;
      height: 22rem;
    }
  }

  /*PRINCIPLES SECTION  */
  
  @media screen and (max-width: 1110px) {
    .ccw-title-about{
      width: 14rem;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
  @media screen and (max-width: 1090px) {
    .principles-info{
      width: 45rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 12rem 1fr 1fr;
    }
    .commited,
    .accountability,
    .relationships{
      margin: 1rem 0;
      width: 20rem;
      height: 23rem;
    }
    .principles-img-container{
      grid-column: 1/3;
      grid-row: 1;
    }
    .commited{
      grid-column: 1/2;
      grid-row: 2;
    }
    .accountability{
      grid-column: 2/3;
      grid-row: 2;

    }
    .relationships{
      grid-column: 1/3;
      grid-row: 3;
    }
  }
  @media screen and (max-width: 830px) {
    .principles-section{
      padding: 2rem;
    }
    .principles-info{
      padding: 0;

    }
  }
  @media screen and (max-width: 790px) {
    .principles-info{
      width: 20rem;
      grid-template-columns: 1fr ;
      grid-template-rows: 12rem 1fr 1fr 1fr;
    }
    .principles-img-container{
      grid-column: 1/2;
      grid-row: 1;
    }
    .commited{
      grid-column: 1/2;
      grid-row: 2;
    }
    .accountability{
      grid-column: 1/2;
      grid-row: 3;

    }
    .relationships{
      grid-column: 1/2;
      grid-row: 4;
    }
  }

  @media screen and (max-width: 520px){
    .principles-section{
      padding: 2rem;
    }
  }
  @media screen and (max-width: 447px){
    .principles-info{
      width: 18rem;
    }
    .commited,
    .accountability,
    .relationships{
      width: 16rem;
    }
    .relationships-text{
      background-color: #a6a6a6;
    }
    .accountability-text{
      background-color: #22263d;
    }
    .commited-text{
      background-color: #b68911;
    }
    .commited-text,
    .accountability-text,
    .relationships-text{
      width: 14rem;
      font-size: 1rem;
    }

  }
