.core-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    height: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    position: relative;
    z-index: 1;
}
.core-content{
    background-color: rgba(255, 255, 255, 1);
    width: 25rem;
    height: 15rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.core-container::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 25rem;
    background: url('../../images/corevalue.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.core-value{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    width: 78rem;
    max-width: 100%;
    margin: 0 auto;
}

.core-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}
.core-text,
.list-values{
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
}


@media screen and (max-width: 1200px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 970px){
    .core-container{
        padding: 3rem;
    }
    .core-value{
        width: 50rem;
    }
    .core-content{
        width: 23rem;
    }
}
@media screen and (max-width: 890px){
    .core-container{
        padding: 3rem;
    }
    .core-value{
        width: 45rem;
    }
    .core-content{
        width: 20rem;
    }
    .core-text,
    .list-values{
        font-size: 13px;
    }
}
@media screen and (max-width: 790px){
    .core-container{
        padding: 2rem;
    }
    .core-value{
        width: 41rem;
    }
    .core-content{
        width: 19rem;
    }
    .core-title{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 720px){

    .core-value{
        width: 38rem;
        gap: 1rem;
    }
    .core-content{
        width: 17rem;
        height: 13rem;
        padding: 1.5rem;
    }
    .core-title{
        font-size: 1.4rem;
    }
    .core-text,
    .list-values{
        font-size: 12px;
    }
}
@media screen and (max-width: 640px){
    .core-container{
        padding: 3rem 2rem;
    }
    .core-value{
        width: 22rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .core-content{
        width: 18rem;
    }

}
