.core-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    height: 100%;
    box-shadow: 0 -20px 10px -20px rgba(0,0,0,0.45) inset;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}

.core-content-one,
.core-content-two,
.core-content-three{
    display: flex;
    width: 65rem;
    max-width: 100%;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: flex-start;
}

/* .core-container::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 25rem;
    background: url('../../images/corevalue.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
} */
.core-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.core-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.core-text{
    font-size: 1rem;
    width: 29rem;
    color: rgba(0, 0, 0, .7);
}
.mission-content,
.vision-content{
    width: 30rem;
    max-width: 100%;
}


.core-verse{
    color: #B58810;
}
.value-title{
    color: #22263E;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.value-info{
    display: flex;
    align-items: start;
    width: 65rem;
    max-width: 100%;
    justify-content: space-between;
}
.value-text{
    width: 65rem;
    color: rgba(0, 0, 0, .7);
    font-size: 1rem;
    max-width: 100%;
}
.core-text,
.list-values{
    line-height: 1.8;
}
.list-values{
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
}
.core-values-list{
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
}
.worship-value,
.obedience-value,
.relationship-value,
.discipleship-value{
    margin-bottom: 1.5rem;
}
.core-value-img{
    width: 30rem;
    height: 20rem;
    object-fit: cover;
}
.value-arrow{
    font-size: 1.5rem;
    height: 1.7rem;
}

/* CORE HOME PAGE */
.core-home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}



@media screen and (max-width: 970px){
    .core-container{
        padding: 3rem;
    }

    .core-content{
        width: 23rem;
    }
}
@media screen and (max-width: 890px){
    .core-container{
        padding: 3rem;
    }

    .core-content{
        width: 20rem;
    }

}
@media screen and (max-width: 790px){
    .core-container{
        padding: 2rem;
    }

    .core-content{
        width: 19rem;
    }

}
@media screen and (max-width: 720px){

    .core-value{
        width: 38rem;
        gap: 1rem;
    }
    .core-content{
        width: 17rem;
        height: 13rem;
        padding: 1.5rem;
    }

}
@media screen and (max-width: 640px){
    .core-container{
        padding: 3rem 2rem;
    }
    .core-value{
        width: 22rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .core-content{
        width: 18rem;
    }

}


/* CORE HOME PAGE RESPONSIVE */
@media screen and (max-width: 1120px){

    .core-text{
        font-size: 1rem;
        width: 28rem;
    }
    .mission-content,
    .vision-content{
        width: 28rem;
        max-width: 100%;
    }
    .core-value-img{
        width: 28rem;
    }

        

}
@media screen and (max-width: 1070px){
    .core-value{
        width: 55rem;

    }
    .core-home-page{
        width: 55rem;
    }
    
    .core-text{
        font-size: 1rem;
        width: 25rem;
    }
    .mission-content,
    .vision-content{
        width: 25rem;
        max-width: 100%;
    }
    

    .core-value-img{
        width: 25rem;
        height: 15rem;
    }

}
@media screen and (max-width: 990px){
    .core-container{
        padding: 2rem;
    }
    .core-value{
        width: 52rem;

    }
    .core-home-page{
        width: 52rem;
    }
    .core-text{
        font-size: 14px;
        width: 22rem;
    }
    
}
@media screen and (max-width: 870px){
    .core-value{
        width: 35rem;
    }
    .core-home-page{
        width: 35rem;
    }
    .core-content-one{
        flex-direction: column;
        width: 35rem;
    }
    .core-content-two{
        flex-direction: column-reverse;
        width: 35rem;
    }
    .core-text{
        font-size: 1rem;
        width: 35rem;
        margin-bottom: 1rem;
    }
    .value-text{
        width: 35rem;
    }
    .core-value-img{
        width: 35rem;
        height: 25rem;
    }
    
}
@media screen and (max-width: 670px){
    .core-value{
        width: 30rem;
    }
    .core-home-page{
        width: 30rem;
    }
    .core-content-one{
        flex-direction: column;
        width: 30rem;
    }
    .core-content-two{
        flex-direction: column-reverse;
        width: 30rem;
    }
    .core-text{
        width: 30rem;
        font-size: 14px;
    }
    .core-value-img{
        width: 30rem;
        height: 20rem;
    }
    .value-text{
        width: 30rem;
        font-size: 15px;
    }
}
@media screen and (max-width: 590px){
    .core-value{
        width: 25rem;
    }
    .core-home-page{
        width: 25rem;
    }
    .core-content-one{
        flex-direction: column;
        width: 25rem;
    }
    .core-content-two{
        flex-direction: column-reverse;
        width: 25rem;
    }
    .core-text{
        width: 25rem;
        font-size: 14px;
    }
    .value-text{
        width: 25rem;
    }
    .core-value-img{
        width: 25rem;
        height: 20rem;
    }
    
}
@media screen and (max-width: 470px){
    .core-container{
        padding: 1rem;
    }
    .core-value{
        width: 20rem;
    }
    .core-home-page{
        width: 20rem;
    }
    .core-content-one{
        flex-direction: column;
        width: 20rem;
    }
    .core-content-two{
        flex-direction: column-reverse;
        width: 20rem;
    }
    .core-text{
        width: 20rem;
        font-size: 13px;
    }
    .core-value-img{
        width: 20rem;
        height: 15rem;
    }
    .value-text{
        width: 20rem;
        font-size: 14px;
    }
    
}