.events{
    padding:4rem;

}
.events-item{
    display: flex;
    justify-content: center;
}

.title-container{
    width: 63rem;
    margin: 0 auto;
}
.events-title{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: #22263E;
    background:  #eaac4e;
    width: 7rem;
    height: 1rem;
    display: flex;
    align-items: end;
}