
.title-container{
    width: 65rem;
    margin: 0 auto;
}
@media screen and (max-width: 1200px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
