
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --main-theme-color: #B58810;
  --secondary-theme-color: #22263E;
  --text-light-color: rgba(0, 0, 0, .6);
  --text-color: #22263E;
  --text-shadow-color: #808080;
  --white-color: #fff;
  --error-color: red;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body{
  font-family: 'Poppins', sans-serif;
}